{{> headerclientes4}}
    <main>
        <center>
            <h2 class="catalogo_l">NUESTRO CATÁLOGO</h2>
        </center>
        <div class="body_catalogo">
            <div class="producto">
                <img src="../assets/img/pro1.png" alt="" class="produto__img">
                <div class="productDescription">
                    <h3 class="produto__title">Pestañas pelo a pelo</h3>
                    <spam class="produto__price">$70.000</spam><br>
                    <span>2hr o 3hr apróx</span>
                </div>
                <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="producto">
                <img src="../assets/img/pro2.png" alt="" class="produto__img">
                <div class="productDescription">
                    <h3 class="produto__title">Keratina</h3>
                    <spam class="produto__price">$200.000</spam><br>
                    <span>3hr o 4hr apróx</span>
                </div>
                <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="producto">
                <img src="../assets/img/pro3.png" alt="" class="produto__img">
                <div class="productDescription">
                    <h3 class="produto__title">Uñas acrilicas</h3>
                    <spam class="produto__price">$90.000</spam><br>
                    <span>2hr apróx</span>
                </div>
                <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
        </div>
    </main>
    <a class="Link-whatsapp d-flex justify-content-center" href=""><img src="../assets/img/whatsapp.svg" alt=""
        style="width: 36px;"></a>
{{> footerclientes}}
    