{{> headerclientes6}}
<main>
    <div class="contenedor">
        <div class="cuadro-contac">
            <h1 class="mt-5"> Contacto</h1><br>
            <p class="pppp">Aquí encontrarás información de contacto del salón Vanidosa / Spa, <br>
                de la empresa y de los proovedores del sistema</p>
        </div>
        <div class="d-flex justify-content-center">
            <div class="contenedor2">
                <div class="cua1">
                    <h2 class="ti1">Empresaria</h2>
                    <p class="textos-contac">
                        Nombre: Johana Álvarez <br>
                        Gmail: Johaalvo@hotmail.com <br>
                        Contacto: 301-345-76-98
                    </p>
                    <img class="img-contact" src="../assets/img/iconogmail.png" alt="">
                    <img class="img-contact" src="../assets/img/iconollamada.png" alt="">
                </div>
                <div class="cua2">
                    <h2 class="ti2">Spa Vanidosa</h2>
                    <p class="textos-contac">
                        Gmail: Salonyspa@outlok.es<br>
                        Contacto: 234-546-87-09 <br>
                        Ubicación: Laureles
                    </p>
                    <img class="img-contact" src="../assets/img/iconogmail.png" alt="">
                    <img class="img-contact" src="../assets/img/iconollamada.png" alt="">
                    <img class="img-contact" src="../assets/img/iconolocation.png" alt="">
                </div>
                <div class="cua3">
                    <h2 class="ti3">Desarrolladores</h2>
                    <p class="textos-contac  texto-desa">
                        Gmail: Vanidosa22adso@gmail.com<br>
                        Contacto: 301-345-76-98
                    </p>
                    <img class="img-contact" src="../assets/img/iconogmail.png" alt="">
                    <img class="img-contact" src="../assets/img/iconollamada.png" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
<a class="Link-whatsapp d-flex justify-content-center" href=""><img src="../assets/img/whatsapp.svg" alt=""
        style="width: 36px;"></a>
{{> footerclientes}}