{{> headerclientes1}}

<main>

    <div class="content-btn-main d-flex">
        <a class="btn-main d-flex justify-content-center align-items-center" href="/agendarcitas">Agendar una
            cita</a>
        <a class="btn-main d-flex justify-content-center align-items-center" href="/catalogO">Ver productos</a>
    </div>

    <img class="main-img" src="../assets/img/main.png" alt="">

</main>

<a class="Link-whatsapp d-flex justify-content-center" href=""><img src="../assets/img/whatsapp.svg" alt=""
        style="width: 36px;"></a>

{{> footerclientes}}