{{> headerclientes}}

    <main>

        <div class="content-btn-main d-flex">
            <a class="btn-main d-flex justify-content-center align-items-center" href="agendarcitas.html">Agendar una
                cita</a>
            <a class="btn-main d-flex justify-content-center align-items-center" href="catalogo.html">Ver productos</a>
        </div>

        <img class="main-img" src="/img/main.png" alt="">
    </main>

    <a class="Link-whatsapp d-flex justify-content-center" href=""><img src="/img/whatsapp.svg" alt=""
            style="width: 36px;"></a>

{{> footerclientes}}