{{> header}}

<main>
    <div class="content-dash d-flex">
        <aside class="menu">
            <div class="content-menu">

                <a class="content-link-menu d-flex align-items-center" href="/home">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/inicio.svg" alt="">
                    </div>
                    <span class="text-menu">Inicio</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/roles">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/roles.svg" alt="">
                    </div>
                    <span class="text-menu">Roles</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/usuarios">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/usuarios.svg" alt="">
                    </div>
                    <span class="text-menu">Usuarios</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/insumos">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/insumos.svg" alt="">
                    </div>
                    <span class="text-menu">Insumos</span>
                </a>

                <a class="content-link-menu d-flex align-items-center active" href="/proveedores">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/proveedores.svg" alt="">
                    </div>
                    <span class="text-menu">Proveedores</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/compras">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/compras.svg" alt="">
                    </div>
                    <span class="text-menu">Compras</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/servicios">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/servicios.svg" alt="">
                    </div>
                    <span class="text-menu">Servicios</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/clientes">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/clientes.svg" alt="">
                    </div>
                    <span class="text-menu">Clientes</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/citas">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/citas.svg" alt="">
                    </div>
                    <span class="text-menu">Citas</span>
                </a>

            </div>
        </aside>

        <div class="content-main d-flex justify-content-center">
            <div class="content-title-list">
                <h2 class="main-title text-center">LISTA DE PROVEEDORES</h2>

                <form class="main-form" action="">

                    <div class="content-select-search d-flex justify-content-between">
                        <select name="" id="" class="select-main form-select" size="1"
                            onchange="window.location.href=this.value;">
                            <option value="/listar-proveedores">Listar Proveedor</option>
                            <option value="/proveedores">Registrar Proveedor</option>
                        </select>

                        <input class="search form-control" type="text" placeholder="Buscar...">
                    </div>

                    <div class="content-table">
                        <table class="main-table table table-bordered">
                            <tr>
                                <th class="space text-center">Nombre</th>
                                <th class="space text-center">Apellido</th>
                                <th class="space text-center">Correo</th>
                                <th class="space text-center">Dirección</th>
                                <th class="space text-center">Teléfono</th>
                                <th class="space text-center">Nit</th>
                                <th class="space text-center">Estado</th>
                                <th class="space text-center action">Acciones</th>
                            </tr>
                            <tr>
                                <td class="space">Juan</td>
                                <td class="space">Jaramillo</td>
                                <td class="space">juan@gmail.com</td>
                                <td class="space">Calle 54</td>
                                <td class="space">3022149193</td>
                                <td class="space">087967</td>
                                <td class="space">Activo</td>
                                <td class="space action d-flex justify-content-center">
                                    <div class="content-icon-action">
                                        <a href="/modificar-proveedores"><img class="edit" src="../assets/img/edit.svg" alt=""></a>
                                        <img class="toggle" src="../assets/img/toggle-on-green.svg" alt="">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="space">Mario</td>
                                <td class="space">Bedoya</td>
                                <td class="space">mario@gmail.com</td>
                                <td class="space">Calle 64</td>
                                <td class="space">3148853478</td>
                                <td class="space">056784</td>
                                <td class="space">Activo</td>
                                <td class="space action d-flex justify-content-center">
                                    <div class="content-icon-action">
                                        <a href="/modificar-proveedores"><img class="edit" src="../assets/img/edit.svg" alt=""></a>
                                        <img class="toggle" src="../assets/img/toggle-off-red.svg" alt="">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="space">Xiomara</td>
                                <td class="space">Duque</td>
                                <td class="space">xiomara@gmail.com</td>
                                <td class="space">Calle 104</td>
                                <td class="space">3245768903</td>
                                <td class="space">057896</td>
                                <td class="space">Activo</td>
                                <td class="space action d-flex justify-content-center">
                                    <div class="content-icon-action">
                                        <a href="/modificar-proveedores"><img class="edit" src="../assets/img/edit.svg" alt=""></a>
                                        <img class="toggle" src="../assets/img/toggle-off-red.svg" alt="">
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="content-button d-flex justify-content-end">
                        {{!-- <div class="content-send-clear">
                            <input class="send-button" type="submit" value="Registrar">
                            <input class="clear-button" type="reset" value="Limpiar">
                        </div> --}}

                        <div class="content-generate-report d-flex align-items-center">
                            <label class="me-2" for="">Generar Reporte</label>
                            <select class="period-selection me-3" name="" id="">
                                <option value="">Semanal</option>
                                <option value="">Mensual</option>
                                <option value="">Trimestral</option>
                            </select>
                            <input class="generate-button" type="submit" value="Generar">
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
    </div>
    </div>
</main>