{{> headerclientes}}
<main>
    <center>
        <img src="img/logo.svg" alt="">
        <div class="content-form d-flex justify-content-center align-items-center">
            <div>
                <h2>INICIO DE SESIÓN</h2>
                <div id="respuesta">

                </div>
                <form id="formulario" class="input-inicio">
                    <input type="text" placeholder="Nombre" id="nombre" required> <br>
                    <input type="text" placeholder="Contraseña" id="contraseña" required><br>
                    <p>¿No tienes cuenta? <a href="registro.html">Regístrate</a>
                    </p>
                </form>
                <button class="btn btn-primary" id="registrar" class="bnt-loguear" type="submit"
                    value="Registrar">ENTRAR</button>
            </div>
        </div>
</main>
<a class="Link-whatsapp d-flex justify-content-center" href=""><img src="/img/whatsapp.svg" alt=""
        style="width: 36px;"></a>

{{> footerclientes}}