{{> header}}

<main>
    <div class="content-dash d-flex">
        <aside class="menu">
            <div class="content-menu">

                <a class="content-link-menu d-flex align-items-center" href="/home">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/inicio.svg" alt="">
                    </div>
                    <span class="text-menu">Inicio</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/roles">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/roles.svg" alt="">
                    </div>
                    <span class="text-menu">Roles</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/usuarios">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/usuarios.svg" alt="">
                    </div>
                    <span class="text-menu">Usuarios</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/insumos">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/insumos.svg" alt="">
                    </div>
                    <span class="text-menu">Insumos</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/proveedores">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/proveedores.svg" alt="">
                    </div>
                    <span class="text-menu">Proveedores</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/compras">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/compras.svg" alt="">
                    </div>
                    <span class="text-menu">Compras</span>
                </a>

                <a class="content-link-menu d-flex align-items-center active" href="/servicios">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/servicios.svg" alt="">
                    </div>
                    <span class="text-menu">Servicios</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/clientes">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/clientes.svg" alt="">
                    </div>
                    <span class="text-menu">Clientes</span>
                </a>

                <a class="content-link-menu d-flex align-items-center" href="/citas">
                    <div class="content-icon-menu d-flex justify-content-center">
                        <img class="icon-menu" src="../assets/img/citas.svg" alt="">
                    </div>
                    <span class="text-menu">Citas</span>
                </a>

            </div>
        </aside>

        <div class="content-main d-flex justify-content-center">
            <div class="content-title-form">
                <h2 class="main-title text-center">SERVICIOS</h2>

                <div id="respuesta"></div>
                <form id="formulario" class="main-form" action="" oninput="resultado.value=rango.value">

                    <div class="content-select-search d-flex justify-content-between">
                        <select name="" id="" class="select-main form-select" size="1"
                            onchange="window.location.href=this.value;">
                            <option value="/servicios">Servicios</option>
                            <option value="/listar-servicios">Listar servicios</option>

                        </select>

                        <input class="search form-control" type="text" placeholder="Buscar...">
                    </div>

                    <div class="field-content d-flex">

                        <div class="content-label-input">
                            <label for="">Nombre del servicio</label><br>
                            <input class="general-input form-control" type="text" id="nombre">
                        </div>

                        <div class="content-label-input">
                            <label for="">Tiempo del Servicio</label><br>
                            <input class="general-input form-control" type="text" id="tiempo" placeholder="En minutos">
                        </div>

                        <div class="content-label-input">
                            <label for="">Hora del Servicio</label><br>
                            <input class="general-input form-control" type="time" id="hora" >
                        </div>
                        <div class="content-label-input">
                            <label for="">Precio</label><br>
                            <label for="">10.000</label>
                           <input type="range" id="rango" name="rango" value="10000" min="10000" max="150000">
                           <label for="">150.000</label>
                           <br>
                           El precio seleccionado es: 
                           <output name="resultado"></output>
                        </div>
                        <div class="content-observations">
                            <label for="">Descripción</label><br>
                            <input class="observations form-control" type="text">
                        </div>

                    </div>

                    <div class="content-button d-flex justify-content-center">
                        <div class="content-send-clear">
                            <input id="registrar" class="send-button" type="submit" value="Registrar">
                            <input class="clear-button" type="reset" value="Limpiar">
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
    </div>
    <script src="../assets/js/ValidarServicios.js"></script>
    </div>
</main>