.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 1;
}

.content-logo {
    width: 210px;
    height: 60px;
    background-color: #212F3D;
}

.logo-font {
    width: 94px;
}

.content-img-perfil {
    width: calc(100% - 210px);
}

.img-perfil {
    height: 40px;
    margin-right: 22px;
}