.logito{
    margin-left: 20px;
    padding-top: 50px;
    padding-left: 200px;
}

.escrito_noso{
    margin-left: 650px;
    margin-top: -200px;
}

.texto_nosotros{
    text-align: center;
    justify-content: center;
    margin-left:600px;
    margin-right: 200px;
    margin-top: 50px;
}

.wave{
    margin-top: 30px;
}
