<footer class="footer">
    <div class="contenedor-footer">
        <div class="content-foo">
            <h5>AYUDA</h5>
            <p>Apoyo <br>
                Solución de problemas<br>
                Contáctenos</p>
        </div>
        <div class="content-foo">
            <h5>LEIDY JOHANA</h5>
            <p>Tu especialista <br>
                encabello, uñas <br>
                y pestañas
            </p>
        </div>
        <div class="content-foo">
            <h5>AVISO LEGAL</h5>
            <p>política de privacidad <br>
                política de cookies <br>
                diseñador web - Grupo vanisoft</p>
        </div>
    </div>
    <h2 class="titulo-final">&reg; Programadores | | Grupo vanisoft </h2>
</footer>
<script src="../assets/js/funcionesClientes.js"></script>
</body>

</html>