<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/catalogo.css">
    <link rel="stylesheet" href="../assets/css/citas.css">
    <link rel="stylesheet" href="../assets/css/contacto.css">
    <link rel="stylesheet" href="../assets/css/login-modal.css">
    <link rel="stylesheet" href="../assets/css/nosotros.css">
    <link rel="stylesheet" href="../assets/css/register-login.css">
    <link rel="stylesheet" href="../assets/css/servicios.css">
    <link rel="stylesheet" href="../assets/css/styleClientes.css">
    <title>Vanidosa Spa</title>
</head>

<body>

    <header>

        <a href="/index"><img class="img-logo" src="../assets/img/logo.svg" alt=""></a>

        <div class="content-header d-flex justify-content-center align-items-end">
            <nav class="d-flex align-items-center">
                <div class="content-nav-link d-flex">
                    <a class="nav-link" href="/index">INICIO</a>
                    <a class="nav-link active" href="/serviciosclientes">SERVICIOS</a>
                    <a class="nav-link" href="/agendarcitas">AGENDAR CITA</a>
                    <a class="nav-link" href="/catalogo">CATÁLOGO</a>
                    <a class="nav-link" href="/nosotros">NOSOTROS</a>
                    <a class="nav-link" href="/contacto">CONTACTO</a>
                </div>
            </nav>
        </div>

        <div class="container-icon-header d-flex">

            <a class="content-icon-header d-flex" href="">
                <img class="icon-header" src="../assets/img/search.svg" alt="" style="width: 22px;">
            </a>

            <a class="content-img-account d-flex" href="#">
                <img class="img-account" src="../assets/img/perfil.png" alt="" style="width: 38px;">
            </a>

        </div>
        <!-- Modal Login -->
        <div class="container-modal-account">

            <div class="header-modal-account">
                <div class="content-img-account-modal d-flex justify-content-center">
                    <img class="img-account-modal" src="../assets/img/perfil.png" alt="">
                </div>

                <div class="d-flex justify-content-center">
                    <span class="name-modal text-center">XIOMARA DUQUE</span>
                </div>

                <div class="d-flex justify-content-center">
                    <span class="email-modal text-center">xduque@gmail.com</span>
                </div>
            </div>

            <div class="container-setting-admin d-flex align-items-center">
                <div class="content-setting-admin">
                    <div class="content-account-settings d-flex align-items-center">
                        <img class="icon-account-settings" src="../assets/img/settings.svg" alt="">
                        <a class="account-settings" href="">Configurar mi cuenta</a>
                    </div>
                    <div class="content-admin-panel d-flex align-items-center">
                        <img class="icon-admin-panel" src="../assets/img/dashboard.svg" alt="">
                        <a class="admin-panel" href="/home">Panel administrativo</a>
                    </div>
                </div>
            </div>

            <div class="container-login-modal">
                <div class="content-login-modal d-flex align-items-center">
                    <img class="icon-logout" src="../assets/img/logout.svg" alt="">
                    <a class="login-modal" href="/login">Iniciar sesión</a>
                </div>
            </div>

        </div>
        <!-- End Modal Login -->

    </header>