<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Vanisoft</title>
</head>

<body>

    <header class="header">
        <nav class="nav d-flex">

            <div class="content-logo d-flex align-items-center justify-content-center">
                <a href=""><img class="logo-font" src="../assets/img/logo.svg" alt=""></a>
            </div>

            <div class="content-img-perfil d-flex align-items-center justify-content-end">
                <a href=""><img class="img-perfil" src="../assets/img/perfil.png" alt=""></a>
            </div>

        </nav>
    </header>